@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 82%;
  margin: 0 auto;
}
@media (min-width: 1400px) {
  .container {
    width: 58%;
  }
}

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 0.25em;
}

.mb-1 {
  margin-bottom: 0.25em;
}

.ml-1 {
  margin-left: 0.25em;
}

.mr-1 {
  margin-right: 0.25em;
}

.mt-2 {
  margin-top: 0.5em;
}

.mb-2 {
  margin-bottom: 0.5em;
}

.ml-2 {
  margin-left: 0.5em;
}

.mr-2 {
  margin-right: 0.5em;
}

.mt-3 {
  margin-top: 0.75em;
}

.mb-3 {
  margin-bottom: 0.75em;
}

.ml-3 {
  margin-left: 0.75em;
}

.mr-3 {
  margin-right: 0.75em;
}

.mt-4 {
  margin-top: 1em;
}

.mb-4 {
  margin-bottom: 1em;
}

.ml-4 {
  margin-left: 1em;
}

.mr-4 {
  margin-right: 1em;
}

.mt-5 {
  margin-top: 1.25em;
}

.mb-5 {
  margin-bottom: 1.25em;
}

.ml-5 {
  margin-left: 1.25em;
}

.mr-5 {
  margin-right: 1.25em;
}

.mt-6 {
  margin-top: 1.5em;
}

.mb-6 {
  margin-bottom: 1.5em;
}

.ml-6 {
  margin-left: 1.5em;
}

.mr-6 {
  margin-right: 1.5em;
}

.mt-7 {
  margin-top: 1.75em;
}

.mb-7 {
  margin-bottom: 1.75em;
}

.ml-7 {
  margin-left: 1.75em;
}

.mr-7 {
  margin-right: 1.75em;
}

.mt-8 {
  margin-top: 2em;
}

.mb-8 {
  margin-bottom: 2em;
}

.ml-8 {
  margin-left: 2em;
}

.mr-8 {
  margin-right: 2em;
}

.mt-9 {
  margin-top: 2.25em;
}

.mb-9 {
  margin-bottom: 2.25em;
}

.ml-9 {
  margin-left: 2.25em;
}

.mr-9 {
  margin-right: 2.25em;
}

.mt-10 {
  margin-top: 2.5em;
}

.mb-10 {
  margin-bottom: 2.5em;
}

.ml-10 {
  margin-left: 2.5em;
}

.mr-10 {
  margin-right: 2.5em;
}

.mt-11 {
  margin-top: 2.75em;
}

.mb-11 {
  margin-bottom: 2.75em;
}

.ml-11 {
  margin-left: 2.75em;
}

.mr-11 {
  margin-right: 2.75em;
}

.mt-12 {
  margin-top: 3em;
}

.mb-12 {
  margin-bottom: 3em;
}

.ml-12 {
  margin-left: 3em;
}

.mr-12 {
  margin-right: 3em;
}

.mt-13 {
  margin-top: 3.25em;
}

.mb-13 {
  margin-bottom: 3.25em;
}

.ml-13 {
  margin-left: 3.25em;
}

.mr-13 {
  margin-right: 3.25em;
}

.mt-14 {
  margin-top: 3.5em;
}

.mb-14 {
  margin-bottom: 3.5em;
}

.ml-14 {
  margin-left: 3.5em;
}

.mr-14 {
  margin-right: 3.5em;
}

.mt-15 {
  margin-top: 3.75em;
}

.mb-15 {
  margin-bottom: 3.75em;
}

.ml-15 {
  margin-left: 3.75em;
}

.mr-15 {
  margin-right: 3.75em;
}

.mt-16 {
  margin-top: 4em;
}

.mb-16 {
  margin-bottom: 4em;
}

.ml-16 {
  margin-left: 4em;
}

.mr-16 {
  margin-right: 4em;
}

.mt-17 {
  margin-top: 4.25em;
}

.mb-17 {
  margin-bottom: 4.25em;
}

.ml-17 {
  margin-left: 4.25em;
}

.mr-17 {
  margin-right: 4.25em;
}

.mt-18 {
  margin-top: 4.5em;
}

.mb-18 {
  margin-bottom: 4.5em;
}

.ml-18 {
  margin-left: 4.5em;
}

.mr-18 {
  margin-right: 4.5em;
}

.mt-19 {
  margin-top: 4.75em;
}

.mb-19 {
  margin-bottom: 4.75em;
}

.ml-19 {
  margin-left: 4.75em;
}

.mr-19 {
  margin-right: 4.75em;
}

.mt-20 {
  margin-top: 5em;
}

.mb-20 {
  margin-bottom: 5em;
}

.ml-20 {
  margin-left: 5em;
}

.mr-20 {
  margin-right: 5em;
}

.mt-21 {
  margin-top: 5.25em;
}

.mb-21 {
  margin-bottom: 5.25em;
}

.ml-21 {
  margin-left: 5.25em;
}

.mr-21 {
  margin-right: 5.25em;
}

.mt-22 {
  margin-top: 5.5em;
}

.mb-22 {
  margin-bottom: 5.5em;
}

.ml-22 {
  margin-left: 5.5em;
}

.mr-22 {
  margin-right: 5.5em;
}

.mt-23 {
  margin-top: 5.75em;
}

.mb-23 {
  margin-bottom: 5.75em;
}

.ml-23 {
  margin-left: 5.75em;
}

.mr-23 {
  margin-right: 5.75em;
}

.mt-24 {
  margin-top: 6em;
}

.mb-24 {
  margin-bottom: 6em;
}

.ml-24 {
  margin-left: 6em;
}

.mr-24 {
  margin-right: 6em;
}

.mt-25 {
  margin-top: 6.25em;
}

.mb-25 {
  margin-bottom: 6.25em;
}

.ml-25 {
  margin-left: 6.25em;
}

.mr-25 {
  margin-right: 6.25em;
}

.mt-26 {
  margin-top: 6.5em;
}

.mb-26 {
  margin-bottom: 6.5em;
}

.ml-26 {
  margin-left: 6.5em;
}

.mr-26 {
  margin-right: 6.5em;
}

.mt-27 {
  margin-top: 6.75em;
}

.mb-27 {
  margin-bottom: 6.75em;
}

.ml-27 {
  margin-left: 6.75em;
}

.mr-27 {
  margin-right: 6.75em;
}

.mt-28 {
  margin-top: 7em;
}

.mb-28 {
  margin-bottom: 7em;
}

.ml-28 {
  margin-left: 7em;
}

.mr-28 {
  margin-right: 7em;
}

.mt-29 {
  margin-top: 7.25em;
}

.mb-29 {
  margin-bottom: 7.25em;
}

.ml-29 {
  margin-left: 7.25em;
}

.mr-29 {
  margin-right: 7.25em;
}

.mt-30 {
  margin-top: 7.5em;
}

.mb-30 {
  margin-bottom: 7.5em;
}

.ml-30 {
  margin-left: 7.5em;
}

.mr-30 {
  margin-right: 7.5em;
}

.mt-31 {
  margin-top: 7.75em;
}

.mb-31 {
  margin-bottom: 7.75em;
}

.ml-31 {
  margin-left: 7.75em;
}

.mr-31 {
  margin-right: 7.75em;
}

.mt-32 {
  margin-top: 8em;
}

.mb-32 {
  margin-bottom: 8em;
}

.ml-32 {
  margin-left: 8em;
}

.mr-32 {
  margin-right: 8em;
}

.pt-1 {
  padding-top: 0.25em;
}

.pb-1 {
  padding-bottom: 0.25em;
}

.pl-1 {
  padding-left: 0.25em;
}

.pr-1 {
  padding-right: 0.25em;
}

.pt-2 {
  padding-top: 0.5em;
}

.pb-2 {
  padding-bottom: 0.5em;
}

.pl-2 {
  padding-left: 0.5em;
}

.pr-2 {
  padding-right: 0.5em;
}

.pt-3 {
  padding-top: 0.75em;
}

.pb-3 {
  padding-bottom: 0.75em;
}

.pl-3 {
  padding-left: 0.75em;
}

.pr-3 {
  padding-right: 0.75em;
}

.pt-4 {
  padding-top: 1em;
}

.pb-4 {
  padding-bottom: 1em;
}

.pl-4 {
  padding-left: 1em;
}

.pr-4 {
  padding-right: 1em;
}

.pt-5 {
  padding-top: 1.25em;
}

.pb-5 {
  padding-bottom: 1.25em;
}

.pl-5 {
  padding-left: 1.25em;
}

.pr-5 {
  padding-right: 1.25em;
}

.pt-6 {
  padding-top: 1.5em;
}

.pb-6 {
  padding-bottom: 1.5em;
}

.pl-6 {
  padding-left: 1.5em;
}

.pr-6 {
  padding-right: 1.5em;
}

.pt-7 {
  padding-top: 1.75em;
}

.pb-7 {
  padding-bottom: 1.75em;
}

.pl-7 {
  padding-left: 1.75em;
}

.pr-7 {
  padding-right: 1.75em;
}

.pt-8 {
  padding-top: 2em;
}

.pb-8 {
  padding-bottom: 2em;
}

.pl-8 {
  padding-left: 2em;
}

.pr-8 {
  padding-right: 2em;
}

.pt-9 {
  padding-top: 2.25em;
}

.pb-9 {
  padding-bottom: 2.25em;
}

.pl-9 {
  padding-left: 2.25em;
}

.pr-9 {
  padding-right: 2.25em;
}

.pt-10 {
  padding-top: 2.5em;
}

.pb-10 {
  padding-bottom: 2.5em;
}

.pl-10 {
  padding-left: 2.5em;
}

.pr-10 {
  padding-right: 2.5em;
}

.pt-11 {
  padding-top: 2.75em;
}

.pb-11 {
  padding-bottom: 2.75em;
}

.pl-11 {
  padding-left: 2.75em;
}

.pr-11 {
  padding-right: 2.75em;
}

.pt-12 {
  padding-top: 3em;
}

.pb-12 {
  padding-bottom: 3em;
}

.pl-12 {
  padding-left: 3em;
}

.pr-12 {
  padding-right: 3em;
}

.pt-13 {
  padding-top: 3.25em;
}

.pb-13 {
  padding-bottom: 3.25em;
}

.pl-13 {
  padding-left: 3.25em;
}

.pr-13 {
  padding-right: 3.25em;
}

.pt-14 {
  padding-top: 3.5em;
}

.pb-14 {
  padding-bottom: 3.5em;
}

.pl-14 {
  padding-left: 3.5em;
}

.pr-14 {
  padding-right: 3.5em;
}

.pt-15 {
  padding-top: 3.75em;
}

.pb-15 {
  padding-bottom: 3.75em;
}

.pl-15 {
  padding-left: 3.75em;
}

.pr-15 {
  padding-right: 3.75em;
}

.pt-16 {
  padding-top: 4em;
}

.pb-16 {
  padding-bottom: 4em;
}

.pl-16 {
  padding-left: 4em;
}

.pr-16 {
  padding-right: 4em;
}

.pt-17 {
  padding-top: 4.25em;
}

.pb-17 {
  padding-bottom: 4.25em;
}

.pl-17 {
  padding-left: 4.25em;
}

.pr-17 {
  padding-right: 4.25em;
}

.pt-18 {
  padding-top: 4.5em;
}

.pb-18 {
  padding-bottom: 4.5em;
}

.pl-18 {
  padding-left: 4.5em;
}

.pr-18 {
  padding-right: 4.5em;
}

.pt-19 {
  padding-top: 4.75em;
}

.pb-19 {
  padding-bottom: 4.75em;
}

.pl-19 {
  padding-left: 4.75em;
}

.pr-19 {
  padding-right: 4.75em;
}

.pt-20 {
  padding-top: 5em;
}

.pb-20 {
  padding-bottom: 5em;
}

.pl-20 {
  padding-left: 5em;
}

.pr-20 {
  padding-right: 5em;
}

.pt-21 {
  padding-top: 5.25em;
}

.pb-21 {
  padding-bottom: 5.25em;
}

.pl-21 {
  padding-left: 5.25em;
}

.pr-21 {
  padding-right: 5.25em;
}

.pt-22 {
  padding-top: 5.5em;
}

.pb-22 {
  padding-bottom: 5.5em;
}

.pl-22 {
  padding-left: 5.5em;
}

.pr-22 {
  padding-right: 5.5em;
}

.pt-23 {
  padding-top: 5.75em;
}

.pb-23 {
  padding-bottom: 5.75em;
}

.pl-23 {
  padding-left: 5.75em;
}

.pr-23 {
  padding-right: 5.75em;
}

.pt-24 {
  padding-top: 6em;
}

.pb-24 {
  padding-bottom: 6em;
}

.pl-24 {
  padding-left: 6em;
}

.pr-24 {
  padding-right: 6em;
}

.pt-25 {
  padding-top: 6.25em;
}

.pb-25 {
  padding-bottom: 6.25em;
}

.pl-25 {
  padding-left: 6.25em;
}

.pr-25 {
  padding-right: 6.25em;
}

.pt-26 {
  padding-top: 6.5em;
}

.pb-26 {
  padding-bottom: 6.5em;
}

.pl-26 {
  padding-left: 6.5em;
}

.pr-26 {
  padding-right: 6.5em;
}

.pt-27 {
  padding-top: 6.75em;
}

.pb-27 {
  padding-bottom: 6.75em;
}

.pl-27 {
  padding-left: 6.75em;
}

.pr-27 {
  padding-right: 6.75em;
}

.pt-28 {
  padding-top: 7em;
}

.pb-28 {
  padding-bottom: 7em;
}

.pl-28 {
  padding-left: 7em;
}

.pr-28 {
  padding-right: 7em;
}

.pt-29 {
  padding-top: 7.25em;
}

.pb-29 {
  padding-bottom: 7.25em;
}

.pl-29 {
  padding-left: 7.25em;
}

.pr-29 {
  padding-right: 7.25em;
}

.pt-30 {
  padding-top: 7.5em;
}

.pb-30 {
  padding-bottom: 7.5em;
}

.pl-30 {
  padding-left: 7.5em;
}

.pr-30 {
  padding-right: 7.5em;
}

.pt-31 {
  padding-top: 7.75em;
}

.pb-31 {
  padding-bottom: 7.75em;
}

.pl-31 {
  padding-left: 7.75em;
}

.pr-31 {
  padding-right: 7.75em;
}

.pt-32 {
  padding-top: 8em;
}

.pb-32 {
  padding-bottom: 8em;
}

.pl-32 {
  padding-left: 8em;
}

.pr-32 {
  padding-right: 8em;
}

header .info {
  padding: 0.5em 0;
  background: #0282f9;
}
header .info .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
header .info .container span {
  color: white;
  text-transform: uppercase;
  margin-left: 4em;
}
header .info .container span.options:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\F0DD";
  padding: 0.5em;
}
header nav.container {
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav.container .logo img {
  height: 70px;
}
header nav.container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav.container ul li {
  list-style: none;
}
header nav.container ul li a {
  text-decoration: none;
  text-transform: uppercase;
  margin: 2px 1em;
  font-weight: 700;
  color: black;
}
header nav.container ul li a.active {
  color: #0282f9;
  padding-bottom: 3.5em;
  border-bottom: 8px solid #0282f9;
}
header nav.container input {
  border: 0;
  border-bottom: 3px solid #0282f9;
}
header .jumptron {
  height: 300px;
  background-size: cover;
  background-image: url("../images/jumbotron.jpg");
  position: relative;
}

main .bg_blue {
  width: 100vw;
  height: 60px;
  background-color: #0282f9;
  position: relative;
}
main .bg_blue img {
  height: 220px;
  position: absolute;
  bottom: 10px;
  left: 9%;
}
main .comic_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
main .comic_page .title {
  text-transform: uppercase;
}
main .comic_page .content {
  display: flex;
  justify-content: space-around;
  font-size: 1.25em;
}
main .comic_page .content .title {
  color: #003f5e;
}
main .comic_page .content .price_available {
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
  height: 50px;
  padding-right: 0.75em;
  background: #55ba59;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .comic_page .content .price_available p.avv {
  margin-left: auto;
  justify-self: right;
  padding-right: 2em;
}
main .comic_page .content .price_available h4 {
  height: 100%;
  line-height: 50px;
  padding: 0 2em;
  border-left: 1px solid rgba(0, 0, 0, 0.253);
}
main .comic_page .content .description {
  line-height: 2;
  color: #1c1c1c;
}
main .comic_page .talent-specs {
  border-top: 1px solid rgba(0, 0, 0, 0.253);
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
  width: 100vw;
  background: #f6f6f6;
}
main .comic_page .talent-specs .container {
  display: flex;
  justify-content: space-between;
}
main .comic_page .talent-specs .talent, main .comic_page .talent-specs .specs {
  width: 45%;
}
main .comic_page .talent-specs h1 {
  color: #003f5e;
}
main .comic_page .talent-specs .art-by, main .comic_page .talent-specs .written-by {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .comic_page .talent-specs .art-by span, main .comic_page .talent-specs .written-by span {
  width: 30%;
  font-size: 1.25em;
  color: #003f5e;
}
main .comic_page .talent-specs .art-by .artists, main .comic_page .talent-specs .written-by .artists {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  color: #0282f9;
  font-size: 1.5em;
}
main .comic_page .talent-specs .specs .series, main .comic_page .talent-specs .specs .prices, main .comic_page .talent-specs .specs .sale-date {
  display: flex;
}
main .comic_page .talent-specs .specs .series span, main .comic_page .talent-specs .specs .prices span, main .comic_page .talent-specs .specs .sale-date span {
  width: 30%;
  color: #003f5e;
  font-size: 1.25em;
}
main .comic_page .talent-specs .specs .series .serie, main .comic_page .talent-specs .specs .series .price, main .comic_page .talent-specs .specs .series .date, main .comic_page .talent-specs .specs .prices .serie, main .comic_page .talent-specs .specs .prices .price, main .comic_page .talent-specs .specs .prices .date, main .comic_page .talent-specs .specs .sale-date .serie, main .comic_page .talent-specs .specs .sale-date .price, main .comic_page .talent-specs .specs .sale-date .date {
  width: 70%;
}
main .comic_page .talent-specs .specs .series p {
  color: #0282f9;
}
main .info-container {
  width: 100%;
  background-color: #f6f6f6;
}
main .info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .info-0 {
  padding: 1.25em 1.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-left: 1px solid rgba(0, 0, 0, 0.253);
}
main .info-0 .image-cut {
  width: 37px;
  height: 37px;
  overflow: hidden;
}
main .info-0 span {
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.253);
}
main .info-0 img {
  margin: 0px 0px;
}
main .info-0:hover {
  cursor: pointer;
}
main .info-0:hover span {
  color: #0282f9;
}
main .info-0:hover img {
  margin-top: -37px;
}
main .info-1 {
  padding: 1.25em 1.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-left: 1px solid rgba(0, 0, 0, 0.253);
}
main .info-1 .image-cut {
  width: 37px;
  height: 37px;
  overflow: hidden;
}
main .info-1 span {
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.253);
}
main .info-1 img {
  margin: 0px -37px;
}
main .info-1:hover {
  cursor: pointer;
}
main .info-1:hover span {
  color: #0282f9;
}
main .info-1:hover img {
  margin-top: -37px;
}
main .info-2 {
  padding: 1.25em 1.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-left: 1px solid rgba(0, 0, 0, 0.253);
}
main .info-2 .image-cut {
  width: 37px;
  height: 37px;
  overflow: hidden;
}
main .info-2 span {
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.253);
}
main .info-2 img {
  margin: 0px -74px;
}
main .info-2:hover {
  cursor: pointer;
}
main .info-2:hover span {
  color: #0282f9;
}
main .info-2:hover img {
  margin-top: -37px;
}
main .info-3 {
  padding: 1.25em 1.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-left: 1px solid rgba(0, 0, 0, 0.253);
  border-right: 1px solid rgba(0, 0, 0, 0.253);
}
main .info-3 .image-cut {
  width: 37px;
  height: 37px;
  overflow: hidden;
}
main .info-3 span {
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.253);
}
main .info-3 img {
  margin: 0px -111px;
}
main .info-3:hover {
  cursor: pointer;
}
main .info-3:hover span {
  color: #0282f9;
}
main .info-3:hover img {
  margin-top: -37px;
}

main h1.current-series {
  position: absolute;
  bottom: 200px;
  background-color: #0282f9;
  width: 240px;
  margin: 0 4em;
  padding: 0.25em 0.5em;
  text-transform: uppercase;
  color: white;
}
@media (min-width: 1400px) {
  main h1.current-series {
    bottom: 520px;
    margin: 0 8em;
  }
}
main .bg_black {
  background-color: #1c1c1c;
}
main .bg_black .container {
  padding: 2em 0;
}
main .bg_black .container .comics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
main .bg_black .container .comics .comic {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 3em;
  padding-bottom: 3em;
  width: 160px;
  position: relative;
}
main .bg_black .container .comics .comic .comic-thumb {
  height: 200px;
  width: 100%;
  background-size: cover;
}
main .bg_black .container .comics .comic a {
  width: 100%;
  height: 100%;
}
main .bg_black .container .comics .comic .comic-title {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 10px;
}
main .bg_black .container .comics .comic .comic-title span {
  color: white;
  text-transform: uppercase;
}
main .bg_black .container .button {
  width: 100%;
  display: flex;
  justify-content: center;
}
main .bg_black .container .button input.btn {
  padding: 0.5em 3em;
  background-color: #0282f9;
  color: white;
  border: 0;
}
main .bg_black .container .button input.btn:hover {
  cursor: pointer;
}
main .bg_blue_2 {
  background-color: #0282f9;
}
main .bg_blue_2 .container .in {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .bg_blue_2 .container .in-0 {
  padding: 1.25em 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .bg_blue_2 .container .in-0 span {
  margin-left: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
main .bg_blue_2 .container .in-0 img {
  height: 50px;
}
main .bg_blue_2 .container .in-1 {
  padding: 1.25em 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .bg_blue_2 .container .in-1 span {
  margin-left: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
main .bg_blue_2 .container .in-1 img {
  height: 50px;
}
main .bg_blue_2 .container .in-2 {
  padding: 1.25em 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .bg_blue_2 .container .in-2 span {
  margin-left: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
main .bg_blue_2 .container .in-2 img {
  height: 50px;
}
main .bg_blue_2 .container .in-3 {
  padding: 1.25em 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .bg_blue_2 .container .in-3 span {
  margin-left: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
main .bg_blue_2 .container .in-3 img {
  height: 50px;
}
main .bg_blue_2 .container .in-4 {
  padding: 1.25em 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .bg_blue_2 .container .in-4 span {
  margin-left: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
main .bg_blue_2 .container .in-4 img {
  height: 50px;
}

.bg_img {
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  background: url("/images/footer-bg.jpg");
  background-size: cover;
}
.bg_img .logo {
  position: absolute;
  top: -50px;
  right: 20px;
}
.bg_img .links {
  display: flex;
}
.bg_img .links h1 {
  text-transform: uppercase;
  color: white;
  padding: 0.75em 0;
}
.bg_img .links ul {
  list-style: none;
}
.bg_img .links ul li a {
  line-height: 2;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.568);
}
.bg_img .links ul li a:hover {
  color: #0282f9;
}
.bg_img .links .col-2, .bg_img .links .col-3 {
  margin-left: 3em;
}
.bg_img .rights {
  width: 45%;
  color: rgba(255, 255, 255, 0.568);
}
.bg_img .rights a {
  text-decoration: none;
  color: #0282f9;
}

.bg-grey-footer {
  height: 70px;
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-grey-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bg-grey-footer input {
  background: transparent;
  border: 2px solid #0282f9;
  color: white;
  font-weight: bold;
  padding: 0.75em 1.25em;
}
.bg-grey-footer .social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bg-grey-footer .social-links h1 {
  color: #0282f9;
  margin-right: 1.25em;
}
.bg-grey-footer .social-links ul {
  display: flex;
  list-style: none;
}
.bg-grey-footer .social-links ul li {
  padding: 0 0.5em;
}

body {
  font-size: 0.75em;
  overflow-x: hidden;
}