
@mixin flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-around-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@mixin flex-column-start-center{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

@mixin flex-column-center-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@mixin flex-column-center-around{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

@mixin flex-end-center-around{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

@mixin xl {
    @media(min-width: 1400px) { 
        @content;
    }
}