// COLORS
$blue: rgb(2, 130, 249);
$white: rgb(255, 255, 255);
$dark_grey: rgb(28, 28, 28);
$blue_text: rgb(0, 63, 94);
$green: rgb(85, 186, 89);
$talent_bg: rgb(246, 246, 246);

$sz: ();
@for $i from 1 through 32 {
  $sz: append($sz, $i * 0.25em);
}